.LeftMenuLayout__container {
  height: 100vh;
  & /deep/ .footer__container {
    margin: {
      bottom: 0px;
    }
  }
  & /deep/.ant-layout-content {
    min-height: auto;
  }
  & .header {
    height: 48px;
    background-color: white;
    padding: {
      left: 20px;
      right: 20px;
    }
  }
  @media screen and(max-width: 576px) {
    .siderShow {
      display: none;
    }
  }
  & > .sider {
    min-height: 100vh;
    & .sider__logo {
      height: 64px;
    }
    & img {
      width: 1.5rem;
    }
    & h1 {
      display: inline-block;
      height: 32px;
      margin: 0 0 0 12px;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      vertical-align: middle;
    }
  }
}
