.global__container {
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  white-space: nowrap;
  .menuFold {
    margin: {
      right: 8px;
    }
  }
  @media screen and (max-width: 576px) {
    .logo {
      width: 28px;
      height: 28px;
      margin: {
        right: 8px;
      }
    }
  }
  @media screen and (min-width: 576px) {
    .logo {
      display: none;
    }
  }
  .userProfile {
    cursor: pointer;
    min-width: 112px;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &:hover {
      background-color: rgba(0, 0, 0, 0.025);
    }
    .name {
      min-width: 57px;
    }
    .avatar {
      min-width: 24px;
      height: 24px;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
  .icon {
    min-width: 48px;
    text-align: center;
    font-size: 0.75rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.025);
    }
  }
}
